*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --btn-background:rgb(55 153 155);
    --border-color:rgb(55 153 155);
    --imp-heading-color:rgb(55 153 155);
}
.dashboard-pointer,.dashboard-pointer-signin,.navbar-brand{
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.dashboard-pointer-signin:hover,.dashboard-pointer:hover,.navbar-brand:hover{
    color: var(--imp-heading-color);
    font-weight: 500;
}
.navbar{
    z-index: 10;
    background-color: whitesmoke;
}
.navbar-brand{
    cursor: pointer;
    color: var(--imp-heading-color);
}
.navbar-brand span{
    font-size: 14px;
    padding-left: 1rem;
}
.li-navbar-link a{
    color: gray;
}
a{
    text-decoration: none;
}
