*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav-bg{
    background: linear-gradient(109.6deg, rgb(43, 1, 91) 13.4%, rgb(122, 2, 54) 100.2%);
}
.dashboard-pointer,.dashboard-pointer-signin,.navbar-brand{
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.navbar-brand:hover{
    color: blueviolet;
}
.dashboard-pointer:hover{
    color: white;
}
.dashboard-pointer-signin:hover{
    color: blueviolet;
}
.navbar-brand{
    cursor: pointer;
    color: white;
}
.navbar-brand span{
    font-size: 14px;
    padding-left: 1rem;
}
.li-navbar-link a{
    color: gray;
}
a{
    text-decoration: none;
}
