*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.user-sidebar-collapse{
    min-width: 5rem!important;
    max-width: 5rem!important;
}
.sidebar{
    transition: all .2s ease;
    min-width: 10rem;
    max-width: 10rem;
    border: 1px solid rgba(128, 128, 128, 0.438);
    border-radius: 0 12px 12px 0;
    position: sticky;
    top: 0;
}
.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}
.nav-link{
    color: gray !important;
    background-color: transparent !important;
}
.logo-content p{
    font-size: 14px;
}


/* navbar*/
.nav-item{
    position: relative;
}
.nav-item::before,.active::before{
    content: "";
    position: absolute;
    top: 10%;
    right: 0;
    height: 80%;
    width: 3px;
    background-color: rgb(55 153 155);
    transform: scale(0);
    transform-origin: right bottom;
    transition: all .3s ease-in-out;
}
.nav-item:hover::before,.active::before{
    transform: scale(1);
    transform-origin: center;
}
.active{
    color: rgb(55 153 155) !important;
}
.log-out{
    position: absolute;
    bottom: 0;
    border:1px solid rgba(128, 128, 128, 0.438);
    padding: 5px;
}