.user-timeline-chart-height{
    min-height: 80vh;
    max-height: 80vh;
    background-color: #ffffffe8;
}
.CircularProgressbar .CircularProgressbar-text{
    fill:white !important;
}
.CircularProgressbar .CircularProgressbar-path{
    stroke: rgb(160 118 171) !important;
}