:root{
    --btn-background:rgb(55 153 155);
    --border-color:rgb(55 153 155);
    --imp-heading-color:rgb(55 153 155);
    --rightSide-bg-color:rgb(55 153 155 / 85%);
}
.form-element input{
    padding: .5rem 1rem;
    border-radius: 6px;
    border-width: 0px;
    outline: none;
    border:1px solid rgba(128, 128, 128, 0.253);
}
.form-button button{
    border-radius: 6px;
    border-width: 0px;
    padding: .3rem 1rem;
    color: white;
    background-color: var(--btn-background);
}
.leftSide-signin{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.rightSide-signIn{
    border: 1px solid var(--border-color);
    border-radius: 20px 0 0 20px;
    height: 95vh; 
    color:white;
    background-color: var(--rightSide-bg-color);
    /* background-color: rgba(245, 245, 245, 0.082); */
}
.rightSide-content{
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
}
.register{
    color: var(--imp-heading-color);
    cursor: pointer;
}