
.form-element input{
    padding: .5rem 1rem;
    border-radius: 6px;
    border-width: 0px;
    outline: none;
    border:1px solid rgba(128, 128, 128, 0.253);
}
.form-button button{
    border-radius: 6px;
    border-width: 0px;
    background-color: white;
    padding: .3rem 1rem;
    color: blueviolet;
}
.leftSide-signin{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.rightSide-signIn{
    border: 1px solid rgba(128, 128, 128, 0.212);
    border-radius: 20px 0 0 20px;
    height: 95vh;
    color:white;
    background-color: rgba(245, 245, 245, 0.082);
}
.rightSide-content{
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.register{
    color: rgb(176, 97, 212);
    cursor: pointer;
}